<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Keep UpgradeCode stable: changing it installs a second application. -->
  <Product Id="*" Name="Sidedoor" Language="1033" Version="$(var.Version)"
           Manufacturer="Lasse Vestergaard" UpgradeCode="B6CF5D9E-BD06-4202-B0AA-05F64E37D422">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade Schedule="afterInstallInitialize" AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of Sidedoor is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon.ico" SourceFile="$(var.Icon)" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/lassejlv/sidedoor" />
    <Property Id="SIDEDOOR_BUNDLE" Value="0" Secure="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Sidedoor">
          <Component Id="MsiMarker" Guid="FCA5DD6E-7D6E-4F8F-A6ED-5E0684069FB7" Win64="yes">
            <File Id="MsiMarkerFile" Name=".sidedoor-msi" Source="$(var.Marker)" KeyPath="yes" />
          </Component>
          <Component Id="BundleMarker" Guid="C8E1A8D3-C2E3-414E-BA19-02F2DC6D99DE" Win64="yes">
            <Condition>SIDEDOOR_BUNDLE = 1</Condition>
            <File Id="BundleMarkerFile" Name=".sidedoor-bundle" Source="$(var.Marker)" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppMenuFolder" Name="Sidedoor" />
      </Directory>
    </Directory>
    <Feature Id="Complete" Title="Sidedoor" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="MsiMarker" />
      <ComponentRef Id="BundleMarker" />
    </Feature>
  </Product>
</Wix>
